.star-picker .star-label i { color: #d1d5db; transition: color .15s; }
.star-picker .star-label:hover i,
.star-picker .star-label:hover ~ .star-label i { color: #d1d5db !important; }
.star-picker:hover .star-label i { color: #f59e0b; }
.star-picker .star-label:hover ~ .star-label i { color: #d1d5db !important; }
.star-picker input:checked ~ label i { color: #d1d5db !important; }
